
/logs
knownkeys.txt
dropt.log
minecraftinstance.json
/crash-reports
crafttweaker.log
.curseclient
/vintagefix
usernamecache.json
usercache.json
/saves
/optionsof.txt
/options.txt
/mods/memory_repo
mods/OptiFine_1.12.2_HD_U_G6_pre1.jar
config/jei/worldSettings.cfg
mods/Nether-API-v1.3.0-mc1.12.2.jar
mods/Piston-API-v1.0.2-mc1.12.2.jar
/classOut
/mods/1.12.2
mputils/settings.dat
servers.dat
/screenshots
config/relauncher.json
