# Configuration file

general {
    # A transparent box behind the text [default: false]
    B:"Enable Text Background"=false

    # This is the pool of tips that will be displayed during the world loading screen [default: ]
    S:"Tip Lang Keys" <
        anothertips.tips.1
        anothertips.tips.2
        anothertips.tips.3
        anothertips.tips.4
        anothertips.tips.5
        anothertips.tips.6
        anothertips.tips.7
        anothertips.tips.8
        anothertips.tips.9
        anothertips.tips.10
        anothertips.tips.11
        anothertips.tips.12
        anothertips.tips.13
        anothertips.tips.14
        anothertips.tips.15
        anothertips.tips.16
        anothertips.tips.17
        anothertips.tips.18
        anothertips.tips.19
        anothertips.tips.20
     >

    # This is a map that determines the wait time for tips in different languages
    # For example, en_us:0.1 refers to "wait 0.1s for each character for tips in English" [default: [en_us:0.1]]
    S:"Tip Wait Time" <
        en_us:0.1
     >
}


