# Configuration file

general {
    # The maximum of banner's height. Will not work if Enable Banner Limit is set false.
    # Min: 0
    # Max: 2147483647
    I:bannerMaxHeight=256

    # The maximum of banner's width. Will not work if Enable Banner Limit is set false.
    # Min: 0
    # Max: 2147483647
    I:bannerMaxWidth=1280

    # Whether enable Catalogue.
    # Setting it false will stop Catalogue redirecting Forge's mod list calls.
    B:enable=true

    # Whether limit the size of mods' banners.
    B:enableBannerLimit=false

    # Whether limit the size of mods' icons.
    B:enableIconLimit=false

    # The maximum of icon's width and height. Will not work if Enable Icon Limit is set false.
    # Min: 0
    # Max: 2147483647
    I:iconMaxWidthHeight=256

    # The list of ignored dependencies' mod ids.
    # They will not be displayed when searching for dependencies/dependants.
    S:ignoredDependenciesList <
        minecraft
        forge
        FML
        mcp
        cleanroom
     >

    # The list of library mods' mod ids.
    # They will have grey names in the mod list.
    S:libraryList <
        forge
        FML
        mcp
        cleanroom
        configanytime
        mixinbooter
        fugue
        scalar
        kirino_ecs
        kirino_engine
        kirino_gl
     >
}


