# Configuration file

"trader llama" {
    # Maximum number of trader llamas to spawn with wandering traders? [range: 0 ~ 2147483647, default: 2]
    I:maxLlamas=2

    # Minimum number of trader llamas to spawn with wandering traders? [range: 0 ~ 2147483647, default: 2]
    I:minLlamas=2
}


"wandering trader" {
    # How high can the spawn chance go? [range: 0 ~ 100, default: 75]
    I:maxSpawnChance=75

    # What is the chance out of 100 for a trader to spawn? [range: 0 ~ 100, default: 25]
    I:spawnChance=25

    # How much should the spawn chance increase by on each fail? [range: 0 ~ 100, default: 25]
    I:spawnChanceIncrement=25

    # How many ticks before a trader attempts to spawn? [range: 0 ~ 2147483647, default: 24000]
    I:spawnDelay=24000

    # How many checks should traders do to find a valid position to spawn? [range: 0 ~ 2147483647, default: 10]
    I:spawnPositionChecks=10

    # How many ticks before the spawn delay updates? [range: 0 ~ 10000, default: 1200]
    I:tickDelay=1200

    # Should traders naturally spawn like vanilla 1.14+? [default: true]
    B:tradersSpawn=true
}


